<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}</title>
    {% block css_additional %}{% endblock css_additional %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <h1><a href={% url "index" %}> Главная </a> </h1>
    {% block content %}{% endblock content %}
    <h1><a href={% url "types" %}> Стихии </a> </h1>

</body>
</html>