<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tests </title>
</head>
<body>
    <div>
        <h3> Main </h3>
        <form action="create/" method="post">
            {% csrf_token %}
            <table>
                <tbody>
                    {{ form.as_table }}
                </tbody>
                <tr>
                    <td colspan="2" align="center"> <input type="submit" value="Send"> </td>
                </tr>
            </table>
        </form>    
    </div>

    {% if people.count > 0 %}
    <div>
        <h3> people </h3>
        <table>
            <thead align="center">
                <tr>
                    <th width="10%">id</th>
                    <th width="30%">name</th>
                    <th width="10%">age</th>
                    <th width="50%">action</th>
                </tr>
            </thead>
            <tbody align="center">
                {% for p in people %}
                    <tr>
                        <td> {{ p.id }} </td>
                        <td> {{ p.name }} </td>
                        <td> {{ p.age }} </td>
                        <td> 
                            <a href="edit/{{ p.id }}">Edit</a> | <a href="delete/{{ p.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>       
    {% endif %}
</body>
</html>