{% extends "task_manager_app/base.html" %}

{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Task List</h1>
        
        <form method="get" class="row g-3 mb-3">
            <div class="col-auto">
                <label for="status" class="form-label">Filter by status:</label>
            </div>
            <div class="col-auto">
                <select name="status" id="status" class="form-select">
                    <option value="">All</option>
                    <option value="АКТ">Активная</option>
                    <option value="ЗВР">Завершённая</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
        
        <a href="{% url 'task_create' %}" class="btn btn-success mb-3">Create New Task</a>
        
        <div class="row">
            {% for task in tasks %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <p class="card-text">{{ task.description|truncatewords:20 }}</p>
                            <p class="card-text">
                                <small class="text-muted">Due: {{ task.due_date }}</small>
                            </p>
                            <p class="card-text">
                                <span class="badge bg-primary rounded-pill float-end">{{ task.get_status_display }}</span>
                            </p>
                            <a href="{% url 'task_detail' task.pk %}" class="btn btn-primary">View Task</a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete Task</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}